.rqa-box {
	background:#262626;
	padding: 45px 30px;
	h3, p {margin: 0;}
	h3 {font-size: 28px;color: #fff;font-weight: 600;font-family: 'Poppins';
		span {color: #FE5A0E;font-family: 'Playfair Display', serif;font-weight: bold;font-style: italic; @include thmGradientText();}
		&:after {
            display: inline-block;
            vertical-align: middle;
            content: '';
            width: 38px;
            height: 2px;
            margin-top: 7px;
            background: #fff;
            margin-left: 15px;
        }
	}
	p {font-size: 18px;line-height: 28px;color: #FFFFFF;margin-top: 15px;}
	form.rqa-form {
		margin-top: 20px;
		input, textarea {width: 100%;height: 42px;color: #B1B1B1;font-size: 16px;padding-left: 20px;display: block;
			@include placeholder {color: #B1B1B1;}
		}
		input + input {margin-top: 8px;}
		textarea {height: 121px;margin-top: 8px;margin-bottom: 25px;padding-top: 10px;}
		button {display: inline-block;width: 172px;height: 44px;border: none;outline: none;background:#FE5A0E;color: #FFFFFF;font-size: 16px;font-family: 'Poppins';font-weight: 600;line-height: 44px;
			i {margin-left: 4px;}
			&:before {background:#fff;}
			&:hover {color: #252525;}
		}
	}
}